<app-navbar> </app-navbar>

<div class="container">
  <div class="row pt-16 px-4">
    <div class="col justify-center align-center text-center">
      <h1 class="text-red-carpet">My Movie searcher</h1>
      <p>Lorem ipsum dolor sit amet</p>
      <div class="form-field with-addons justify-center w-12/12">
        <input
          type="search"
          class="form-input w-lg-3/12 w-sm-"
          placeholder="Write the name of your movie"
          name=""
          id=""
        />
        <button class="btn">
          <span class="material-icons text-golden"> search </span>
        </button>
      </div>
    </div>
  </div>
</div>
