.btn {
  padding: $button-padding;
  background-color: $button-bg-color;
  display: inline-block;
  color: set-color($button-bg-color);
  border: create-border($button-border-color);
  border-radius: $button-radius;
  text-align: center;
  &:hover {
    background-color: darken($button-bg-color, 10%);
  }
  &:last-child {
    margin-right: 0px;
  }
  &:focus {
    outline: $button-focus-outline;
  }
}

.btn {
  margin-right: 1rem;
}

.btn-group {
  position: relative;
  display: inline-flex;
  vertical-align: middle;

  .btn {
    &:not(:last-child) {
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      margin-right: 0px;
      border-right: 0px;
    }

    &:not(:first-child) {
      border-bottom-left-radius: 0px;
      border-top-left-radius: 0px;
    }
  }
}

.btn-icon {
  padding: 0.5rem;
}

@for $i from 1 through 6 {
  .btn-size-#{$i} {
    font-size: 0.5rem+ ($i * 0.25rem);
    padding: 0.5em 1em;
  }
}
a.btn {
  text-decoration: none;
}

.btn.flat {
  border: none;
  &:hover {
    background-color: $flat-button-hover-color;
  }
}
