.spinner {
  width: $spinner-width;
  height: $spinner-height;
  border-radius: 50%;
  animation: $spinner-animation $spinner-animation-time $spinner-animation-ease
    infinite;
  border: $spinner-boder-width $spinner-boder-style $spinner-border-color;
  border-right: $spinner-line-width $spinner-line-style $spinner-line-color;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
