.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: $form-field-margin-bottom;

  label {
    font-size: $form-field-label-size;
    font-weight: $form-field-label-weigth;
    line-height: $form-field-label-heigth;
    margin-bottom: $form-field-label-mb;
    color: $form-field-label-color;
  }

  &.invalid {
    label {
      color: $form-input-invalid-color;
    }
    .form-input {
      border-color: $form-input-invalid-color;
    }
  }

  &.with-addons {
    display: flex;
    flex-direction: row;
    .form-input {
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
    }
    .btn {
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      border-left: none;
    }
  }
}

.form-input {
  padding: $form-input-padding;
  font-size: $form-input-font-size;
  color: $form-input-font-color;
  border: $form-input-border-width solid $form-input-border-color;
  border-radius: $form-input-border-radius;
  background-color: $form-input-background-color;
  &:active,
  &:focus {
    outline: none;
    border-color: $form-input-active-border-color;
  }

  ::placeholder {
    color: $form-input-placeholder-color;
  }
}
.form-text {
  display: block;
  color: $form-text-color;
  font-size: $form-text-size;
  line-height: 1.3;
  margin-top: 0.25em;
}
