* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: $font-family;
}

blockquote,
body,
dd,
dl,
dt,
fieldset,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
html,
iframe,
legend,
li,
ol,
p,
pre,
textarea,
ul {
  margin: 0;
  padding: 0;
}

@for $i from 1 to 5 {
  h#{i} {
    padding-bottom: 1rem;
  }
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
}
col {
  display: flex;
  flex: 1;
  flex-direction: column;
}
